div(class="device")
    a(class="arrow-left" href="#")
    a(class="arrow-right" href="#")
    div(class="swiper-container")
        div(class="swiper-wrapper")
            each article, slug in public.blog._data
                div(class="swiper-slide")
                    div(class="content-slide" style="background: url('/blog/#{article.photo}'); background-size: contain; background-position: center; background-repeat: no-repeat;")
                        div(class="title")
                            h5 #{ article.title }
                            p #{ article.description }
    div(class="pagination")

script.
    var mySwiper = new Swiper('.swiper-container',{
        loop:true,
        grabCursor: true,
        autoplay: 5000,
        speed: 300
      })
      $('.arrow-left').on('click', function(e){
        e.preventDefault()
        mySwiper.swipePrev()
      })
      $('.arrow-right').on('click', function(e){
        e.preventDefault()
        mySwiper.swipeNext()
      })
