div(class="device")
    a(class="arrow-left" href="#")
    a(class="arrow-right" href="#")
    div(class="swiper-container")
        div(class="swiper-wrapper")
            each article, slug in public.blog._data
                div(class="swiper-slide")
                    div(class="content-slide")
                        img(src="/blog/#{article.photo}")
                        p(class="title")
                            h2 #{ article.title }
                            p #{ article.description }
    div(class="pagination")

script.
    var mySwiper = new Swiper('.swiper-container',{
        loop:true,
        grabCursor: true
      })
      $('.arrow-left').on('click', function(e){
        e.preventDefault()
        mySwiper.swipePrev()
      })
      $('.arrow-right').on('click', function(e){
        e.preventDefault()
        mySwiper.swipeNext()
      })
