h1 In the Burgh
h3 Experiments in flatness


div(class="swiper-container")
    div(class="swiper-wrapper")
        div(class="swiper-slide")
            div(class="content-slide")
                p Text for one here
        div(class="swiper-slide")
            div(class="content-slide")
                p Text for two here

script.
    var mySwiper = new Swiper('.swiper-container',{
        pagination: '.pagination',
        loop:true,
        grabCursor: true,
        paginationClickable: true
      })
      $('.arrow-left').on('click', function(e){
        e.preventDefault()
        mySwiper.swipePrev()
      })
      $('.arrow-right').on('click', function(e){
        e.preventDefault()
        mySwiper.swipeNext()
      })
