*, *:before, *:after {
  box-sizing: border-box; }


body{
  font-family: "Lekton";
  text-align: center;
  background: #f5f5f5;
  color: #ddc826;
  margin: 0px;
}

.title {
    position: absolute;
    top: 0;
    padding: 0 .5em;
    width: 20vw;
    text-align: center;
}

h2{
  font-size: 45px;
  line-height: 1.2em;
  border-bottom: #ddc826 solid 1px;
  padding: 20px 0;
}

h3{
  font-weight: 300;
}
